h1 {
    text-align: center;
    margin-top: 10%;
}

.login-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form form input {
    width: 15%;
}

.signup {
    display: flex;
    justify-content: center;
    margin-top: -1%;
}