.header {
    display: flex;
    justify-content: space-between;
    margin-left: 1%;
}

.sale-retrieve-form {
    margin-left: 1%;
}

.sale-retrieve-form input {
    width: 25%;
}

.sale-retrieve-form select {
    width: 25%;
}

.sales-table {
    margin-left: 1%;
    padding-right: 3%;

}

.facebook-retrieve-form {
    margin-left: 1%;
}

.facebook-retrieve-form select {
    width: 25%;
}

.facebook-retrieve-form input {
    width: 25%;
}

.facebook-table {
    margin-left: 1%;
    padding-right: 3%;

}